.head-group{
  width: 600px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  div{
    width: 300px;
  }
}
.listHide{
  span{
    text-decoration: underline;
    cursor: pointer;
  }
  :hover{
    color: red;
  }
}
