<div class="userForm">
  <h2>Редактирова ТС</h2>
  <form
    [formGroup]="formEditTs"
    (ngSubmit)="editTs()"
  >
    <input placeholder="Введите название"
           formControlName="name"
    >
    <textarea placeholder="Описание транспортногос средства"
              formControlName="description"></textarea>
    <h2>Группы ТС</h2>
   <ul *ngFor="let item of allGroup let i = index">
      <li>{{item.name}} <input type="checkbox"  (change)="changeGroup(i)" class="check" [checked]="item.check"></li>
    </ul>
    {{oneTs | json}}
    <p>разделитель</p>
    {{allGroup | json}}
    <div *ngIf="respInfo"><span>ТС успешно отредактировано </span></div>
    <div> <button (click)="deleteTs(oneTs.id)">Удалить ТС</button></div>
    <div> <button type="submit">Редактировать</button></div>
  </form>
</div>
