@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bgWhite: #fcfeff;
html {
  font-family: Roboto, sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red
}

.active-link {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.header {
  margin: 0 auto;
  width: 320px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.userForm {
  box-sizing: border-box;
  padding: 25px;
  background-color: bgWhite;
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 25px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: center;
}

input {
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding-left: 5px;
  width: 200px;
  height: 25px;
  outline: none !important;
}
textarea{
  padding: 5px;
  width: 200px;
  font-family: Roboto, sans-serif;
  resize: none;
  height: 90px;
}
input::selection{
  color: #1c87c9;
  background-color: #eee;
}

input::-webkit-input-placeholder {
  padding-left: 5px
}

input::-ms-input-placeholder {
  padding-left: 5px
}

input::-ms-input-placeholder {
  padding-left: 5px
}

input::placeholder {
  padding-left: 5px
}

button {
  cursor: pointer;
  margin: 10px;
  min-width: 130px;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background-color: #bde0ff;
}
